:root{
    --main-bg-color: #fff;
    --main-text-color: #000;
    --secondary-bg-color: #f5f5f5;
    --secondary-text-color: #fff;
    --dark-bg-color: #000;
    --main-btn-color: #000;
    --secondary-btn-color: #228B22;
}

::-webkit-scrollbar {
    width: 4px;
}

.flex{
    display: flex;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-cc {
    display: flex;
    justify-content: center;
    align-items: center;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}

#content{
    width: 80%;
    height: 100vh;
    margin: 0 auto;
}

.header-container{
    height: 60px;
    width: 100%;
    background-color: var(--secondary-bg-color);
    border-radius: 0 0 10px 10px;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    border-bottom: 1px solid var(--secondary-bg-color);
}

.logo-container{
    height: 80%;
    width: 100px;
}

.logo-container img {
    height: 100%;
    width: 100%;
}

.profile-container {
    height: 30px;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
}

.profile-container:hover {
    background-color: var(--dark-bg-color);
    cursor: pointer;
    color: var(--secondary-text-color);
}

.profile-image-container{
    height: 20px;
    width: 20px;
}

.profile-name-container {
    height: 20px;
    margin-left: 5px;
    padding: 0 5px;
    border-radius: 5px;
}

.profile-name {
    overflow-x: clip;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100px;
}

.profile-dropdown {
    width: 20px;
}

#main-content {
    height: calc(100vh - 60px);
    justify-content: center;
    align-items: center;
}

.products-description {
    width: 70%;
    height: 100%;
}

/* ======================cart container====================== */


.cart-container {
    width: 30%;
    height: 100%;
    border-radius: 0 10px 10px 0;
    border-left: 2px solid var(--secondary-bg-color);
    padding: 5px;
}

/* products to add on the cart */

.products-container {
    width: 100%;
    background-color: var(--secondary-bg-color);
    gap: 10px;
    padding: 5px;
    overflow-x: auto;
    border-radius: 10px;
    text-align: center;
    height: 30%;
}

.product-image-container {
    width: 70px;
    height: 70px;
}

.product-image-container img {
    width: 100%;
    height: 100%;
}

.product-add-to-cart {
    text-align: center;
    width: 70px;
    background-color: var(--dark-bg-color);
    color: var(--secondary-text-color);
    border-radius: 5px;
}

.product-add-to-cart:hover {
    background-color: var(--secondary-btn-color);
    color: var(--main-text-color);
    box-shadow: 0 0 2px 2px rgba(0,0,0,0.3);
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

/* the cart */
.cart {
    background-color: var(--secondary-bg-color);
    border-radius: 10px;
    margin-top: 10px;
    height: 70%;
    padding: 5px;
}

.cart-header-title {
    font-size: 20px;
    font-weight: 700;
}
