:root{
    --main-bg-color: #fff;
    --main-text-color: #000;
    --secondary-bg-color: #f5f5f5;
    --secondary-text-color: #fff;
    --dark-bg-color: #000;
    --main-btn-color: #000;
    --secondary-btn-color: #00FF00;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}

.header-container{
    height: 50px;
    width: 100%;
    background-color: var(--dark-bg-color);
}