{% extends "messages.html" %}

{% block chat_container %}
{% for chat in chats %}
<div class="chats-info d-flex-column">
    <div class="chats-info-header d-flex">
        <p>To:</p>
        {% if chat.sender == "admin" %}
        <div class="chats-info-recepient">{{chat.recepient}}</div>
        {% else %}
        <div class="chats-info-recepient">{{chat.sender}}</div>
        {% endif %}
    </div>
    <div class="chats-info-row d-flex">
        <div class="chats-info-row-subject">Subject:</div>
        <div class="chats-info-row-value">{{chat.subject}}</div>
    </div>
    <input type="hidden" name="chat-id-side" value="{{chat.id}}">
</div>
{% endfor %}
{% endblock %}