<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/styles/main_style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet">
    {% block head %}
    {% endblock %}
</head>
<body>
    <div id="sidebar">
        <div class="sidebar-logo"><img src="../static/images/cakes_logo.png" alt="logo"></div>
        <a class="sidebar-item" href="{{ urlFor('index') }}">
            <div class="sidebar-icon"><img src="../static/icons/icons8-dashboard-96.png" alt="dash"></div>
            <p>Dashboard</p>
        </a>
        <a class="sidebar-item" href="{{ urlFor('index') }}">
            <div class="sidebar-icon"><img src="../static/icons/icons8-purchase-order-96.png" alt="order"></div>
            <p>Orders</p>
        </a>
        <a class="sidebar-item" href="{{ urlFor('index') }}">
            <div class="sidebar-icon"><img src="../static/icons/messages.png" alt="messages"></div>
            <p>Messages</p>
        </a>
        <a class="sidebar-item" href="{{ urlFor('index') }}">
            <div class="sidebar-icon"><img src="../static/icons/icons8-banknotes-96.png" alt="payments"></div>
            <p>Payments</p>
        </a>
        <a class="sidebar-item" href="{{ urlFor('index') }}">
            <div class="sidebar-icon"><img src="../static/icons/icons8-support-96.png" alt="support"></div>
            <p>Support</p>
        </a>
        <a class="sidebar-item sidebar-item-bottom" href="{{ urlFor('index') }}">
            <div class="sidebar-icon"><img src="../static/icons/icons8-logout-96.png" alt="logout"></div>
            <p>Logout</p>
        </a>
    </div>
    <div id="content">
        <div class="header-container">
            <div id="header" class="d-flex">
                <b><h1>RETAILER</h1></b>
                <div class="header-items">
                    <div class="header-item"></div>
                    <div class="header-item"></div>
                    <div class="header-item"></div>
                </div>
            </div>
        </div>
        <div class="main-content">
            {% block content %}
            {% endblock %}
        </div>
        <div id="footer">
            &copy; KIMUKA 2023
        </div>
    </div>
</body>
</html>