<!DOCTYPE html>
<HTML lang='en'>
	<HEAD>
		<link rel="stylesheet" type="text/css" href="../static/styles/common.css">
	</HEAD>
	<BODY>
		<DIV class="main-container">
			<DIV class="login-container">
				<FORM action='/login'>
					<LABEL for="username">Username</LABEL>
					<INPUT type="text" id="username" name="username">
					<LABEL for="password">Password</LABEL>
					<INPUT id="password" type="text" name="password">
					<INPUT type="submit" value="Submit">
				</FORM>
			</DIV>
		</DIV>
	</BODY>
</HTML>
