{% extends "default.html" %}

{% block title %}Messages{% endblock %}
{% block head %}
<link rel="stylesheet" href="../static/styles/messages.css">
<script src="../static/scripts/messages.js"></script>
<script src="../static/scripts/socketio.js"></script>
{% endblock %}
{% block content %}
<div class="chat-sidebar d-flex-column">
    <div class="d-flex flex-cc" id="new-chat-btn">
        <span class="material-symbols-outlined">
            add
        </span>
        <p>NEW CHAT</p>
    </div>
    <div class="chats-container d-flex-column">
        {% block chat_container %}
        {% for chat in chats %}
        <div class="chats-info d-flex-column">
            <div class="chats-info-header d-flex">
                <p>To:</p>
                <div class="chats-info-recepient">Admin</div>                
            </div>
            <div class="chats-info-row d-flex">
                <div class="chats-info-row-subject">Subject:</div>
                <div class="chats-info-row-value">{{chat.subject}}</div>
            </div>
            <input type="hidden" name="chat-id-side" value="{{chat.id}}">
        </div>
        {% endfor %}
        {% endblock %}
    </div>
</div>
<div class="default-chat-window d-flex-column flex-cc">
    <div class="default-window-header d-flex flex-cc">
        <img src="../static/images/cakes_logo.png" alt="">
    </div>
    <div class="default-window-body d-flex flex-cc">
        <p>Choose a chat to start messaging</p>
    </div>
</div>
<div class="chat-window d-flex-column flex-cc">
    <div class="chat-dialogue d-flex-column">
        <div class="new-msg-on-current-chat">
            <div class="new-msg-count d-flex flex-cc">3</div>
            <div class="scroll-bottom-new-msg d-flex flex-cc">
                <span class="material-symbols-outlined">
                    arrow_downward
                </span>
            </div>
        </div>
    </div>
    <div class="chat-input-container d-flex" >
        <input type="hidden" id="chat-id" name="chat-id" value="">
        <div class="d-flex flex-cc" id="chat-attach-btn">
            <span class="material-symbols-outlined">
                attach_file
            </span>
        </div>
        <div class="d-flex flex-cc" id="chat-emoji-btn">
            <span class="material-symbols-outlined">
                insert_emoticon
            </span>
        </div>
        <input type="text" rows="14" cols="10" wrap="soft" id="chat-input" placeholder="Type a message">
        <div class="d-flex flex-cc" id="chat-send-btn">
            <span class="material-symbols-outlined">
                send
            </span>
        </div>
    </div>
</div>
{% endblock %}
{% block popups %}
<div class="new-chat-popup d-flex-column">
    <div class="new-chat-header d-flex flex-cc">
        <span class="material-symbols-outlined">
            add
        </span>
        <p>NEW CHAT</p>
    </div>
    <div class="chat-subject d-flex-column flex-cc">
        <input id="new-chat-subject" type="text" name="chat-subject" placeholder="Type subject">
    </div>
    <div id="create-chat-btn" class="d-flex flex-cc">
        <p>CREATE CHAT</p>
    </div>
</div>
{% endblock %}