{% extends "default.html" %}
{% block title %}Orders{% endblock %}
{% block head %}
<link rel="stylesheet" href="../static/styles/orders.css"/>
<script src="../static/scripts/orders.js"></script>
{% endblock %}
{% block content %}
<div class="search-orders">
    <form class="search-container d-flex" id="order-search">
        <input class="search-field" type="text" placeholder="Enter order id">
        <div class="search-btn" type="submit">
            <span class="material-symbols-outlined">
                search
            </span>
            <p>SEARCH</p>
    </div>
    </form>
    <div class="order-insights-container d-flex">
        <div class="order-insight aov-insight d-flex-column">
            <div class="insight-headline d-flex">
                <p>AVERAGE ORDER VALUE</p>
                <span class="material-symbols-outlined">
                    shopping_cart
                </span>
            </div>
            <div class="insight-values d-flex">
                <P>KSH</P>
                <span id="aov">{{ aov_info.aov }}</span>
            </div>
        </div>
        <div class="order-insight d-flex-column">
            <div class="insight-headline d-flex ">
                <p>TOTAL SALES VALUE</p>
                <span class="material-symbols-outlined g-light">
                    shopping_bag
                </span>
            </div>
            <div class="insight-values d-flex">
                <P>KSH</P>
                <span id="total_sales_val">{{ all_sales_value }}</span>
            </div>
        </div>
        <div class="order-insight mp-insight d-flex-column">
            <div class="insight-headline d-flex ">
                <p>MOST POPULAR</p>
                <span class="material-symbols-outlined">
                    star
                </span>
            </div>
            <div class="insight-values d-flex">
                <P>{{ most_popular[0]}}, ...</P>
            </div>
        </div>
    </div>
</div>
<div class="center-logo"></div>
<div class="order-history d-flex-column">
    <h2>ORDER HISTORY</h2>
    <div class="order-status-container d-flex">
        <div class="order-status pending">pending</div>
        <div class="order-status confirmed">confirmed</div>
        <div class="order-status delivered">delivered</div>
        <div class="order-status settled">settled</div>
    </div>
    <table id="order-hist-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Status</th>
                <th>Quantity</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            {% for order in order_history %}
            <tr class="orders-row">
                <td>{{ order.id }}</td>
                <td>{{ order.created_at }}</td>
                {% if order.status == 'pending' %}
                <td class="pending">{{ order.status }}</td>
                {% elif order.status == 'confirmed' %}
                <td class="confirmed">{{ order.status }}</td>
                {% elif order.status == 'delivered' %}
                <td class="delivered">{{ order.status }}</td>
                {% elif order.status == 'settled' %}
                <td class="settled">{{ order.status }}</td>
                {% endif %}
                <td>{{ order.quantity }}</td>
                <td>{{ order.order_value }}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5" id="more-orders-btn">show more...</td>
            </tr>
        </tfoot>
    </table>
    <div class="order-status-info-btn">
        <span class="material-symbols-outlined g-light">
            info
        </span>
    </div>
    <div class="order-status-info">
        <div class="order-status-info-container d-flex-column">
            <div class="order-status-info-headline d-flex">
                <span class="material-symbols-outlined">
                    info
                </span>
                <p>ORDER STATUS INFO</p>
            </div>
            <div class="order-status-info-body d-flex-column">
                <div class="order-status-info-row d-flex">
                    <div class="order-status-info-row-status d-flex">
                        <div class="order-status-info-row-status-circle pending"></div>
                        <p>PENDING:</p>
                    </div>
                    <div class="order-status-info-row-description">
                        <p>Order has been placed but not confirmed</p>
                    </div>
                </div>
                <div class="order-status-info-row d-flex">
                    <div class="order-status-info-row-status d-flex ">
                        <div class="order-status-info-row-status-circle confirmed"></div>
                        <p>CONFIRMED:</p>
                    </div>
                    <div class="order-status-info-row-description">
                        <p>Order has been confirmed and is being processed</p>
                    </div>
                </div>
                <div class="order-status-info-row d-flex">
                    <div class="order-status-info-row-status d-flex">
                        <div class="order-status-info-row-status-circle delivered"></div>
                        <p>DELIVERED:</p>
                    </div>
                    <div class="order-status-info-row-description">
                        <p>Order has been delivered to the customer</p>
                    </div>
                </div>
                <div class="order-status-info-row d-flex">
                    <div class="order-status-info-row-status d-flex">
                        <div class="order-status-info-row-status-circle settled"></div>
                        <p>SETTLED:</p>
                    </div>
                    <div class="order-status-info-row-description">
                        <p>Order has been settled and payment received</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="pdt-analysis-container d-flex-column">
    <div class="pa-headline d-flex">
        <span class="material-symbols-outlined g-light" id="pa-info-btn">
            trending_up
        </span>
        <h2>PRODUCT ANALYSIS</h2>
    </div>
    <div class="pa-date">{{ month }}, {{ year }}</div>
    <div class="pa-body d-flex-column">
        {% for product, sales in products_sales.items() %}
        <div class="product">
            <div class="pdt-name">{{ product }}</div>
            <div class="pdt-growth-rate">
                {% if sales_comparison[product].change == "up" %}
                <span class="material-symbols-outlined increase">
                    arrow_upward
                </span>
                {% elif sales_comparison[product].change == "down" %}
                <span class="material-symbols-outlined decline">
                    arrow_downward
                </span>
                {% else %}
                <span class="material-symbols-outlined no-change">
                    trending_flat
                </span>
                {% endif %}
                <p>{{ sales_comparison[product].percent * 100 }}%</p>
            </div>
            <div class="pdt-sales">{{ sales }} sales</div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="orders-graph-container d-flex-column">
    <h2></h2>
    <canvas id="orders-graph"></canvas>
</div>
{% endblock %}
{% block popups %}
<div class="orders-popup">
    <h2>ORDER HISTORY</h2>
    <div class="order-status-container d-flex">
        <div class="order-status pending">pending</div>
        <div class="order-status confirmed">confirmed</div>
        <div class="order-status delivered">delivered</div>
        <div class="order-status settled">settled</div>
    </div>
    <table id="all-orders-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Status</th>
                <th>Quantity</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr class="orders-row">
                <td>{{ order.id }}</td>
                <td>{{ order.created_at }}</td>
                {% if order.status == 'pending' %}
                <td class="pending">{{ order.status }}</td>
                {% elif order.status == 'confirmed' %}
                <td class="confirmed">{{ order.status }}</td>
                {% elif order.status == 'delivered' %}
                <td class="delivered">{{ order.status }}</td>
                {% elif order.status == 'settled' %}
                <td class="settled">{{ order.status }}</td>
                {% endif %}
                <td>{{ order.quantity }}</td>
                <td>{{ order.order_value }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="order-detailed-popup">
    <h2>ORDER DETAILS</h2>
    <div class="order-detailed-popup-container d-flex-column">
        <div class="order-detailed-popup-row d-flex">
            <div class="order-detailed-popup-row-label">Order Id:</div>
            <div class="order-detailed-popup-row-value" id="order-id"></div>
        </div>
        <div class="order-detailed-popup-row d-flex">
            <div class="order-detailed-popup-row-label">Date:</div>
            <div class="order-detailed-popup-row-value" id="order-date"></div>
        </div>
        <div class="order-detailed-popup-row d-flex">
            <div class="order-detailed-popup-row-label">Status:</div>
            <div class="order-detailed-popup-row-value" id="order-status"></div>
        </div>
        <div class="order-detailed-popup-row d-flex">
            <div class="order-detailed-popup-row-label">Quantity:</div>
            <div class="order-detailed-popup-row-value" id="order-quantity"></div>
        </div>
        <div class="order-detailed-popup-row d-flex">
            <div class="order-detailed-popup-row-label">Amount:</div>
            <div class="order-detailed-popup-row-value" id="order-amount"></div>
        </div>
    </div>
</div>
<div class="pa-popup">
    <h2></h2>
    <canvas id="pa-graph"></canvas>
</div>
<div class="aov-popup">
    <div class="aov-popup-container d-flex-column">
        <div class="aov-popup-row d-flex">
            <div class="aov-popup-row-label">Average Order Value:</div>
            <div class="aov-popup-row-value" id="aov-value">KSH {{ aov_info.aov }}</div>
        </div>
        <div class="aov-popup-row d-flex">
            <div class="aov-popup-row-label">Total Order Value:</div>
            <div class="aov-popup-row-value" id="tov-value">KSH {{ aov_info.total_order_value }}</div>
        </div>
        <div class="aov-popup-row d-flex">
            <div class="aov-popup-row-label">Total Orders:</div>
            <div class="aov-popup-row-value" id="to-value"> {{ aov_info.total_orders }} Orders</div>
        </div>
    </div>
    <div class="aov-popup-graph-container">
        <h2></h2>
        <canvas id="aov-graph"></canvas>
    </div>
</div>
<div class="most-popular-popup">
    <div class="most-popular-container d-flex-column">
        <div class="mp-headline d-flex">
            <span class="material-symbols-outlined">
                trending_up
            </span>
            <h2>Most Popular Products</h2>
        </div>
        {% for product, sales in sales_contribution.items() %}
        {% if product in most_popular %}
        <div class="mp-body d-flex-column">
            <div class="mp-body-row d-flex">
                <div class="mp-body-row-label">Product : </div>
                <div class="mp-body-row-value" id="mp-product">{{ product }}</div>
            </div>
            <div class="mp-body-row d-flex">
                <div class="mp-body-row-label">Sales : </div>
                <div class="mp-body-row-value" id="mp-sales">{{ sales.sales }}</div>
            </div>
            <div class="mp-body-row d-flex">
                <div class="mp-body-row-label">Sales Contribution : </div>
                <div class="mp-body-row-value" id="mp-sales-contribution">{{ sales.percent }}%</div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <div class="other-products-container">
        <div class="op-headline">
            <h2>Other Products</h2>
        </div>
        {% for product, sales in sales_contribution.items() %}
        {% if product not in most_popular %}
        <div class="op-body d-flex-column">
            <div class="op-body-row d-flex">
                <div class="op-body-row-label">Product :</div>
                <div class="op-body-row-value" id="op-product"> {{ product }}</div>
            </div>
            <div class="op-body-row d-flex">
                <div class="op-body-row-label">Sales :</div>
                <div class="op-body-row-value" id="op-sales"> {{ sales.sales }}</div>
            </div>
            <div class="op-body-row d-flex">
                <div class="op-body-row-label">Sales Contribution :</div>
                <div class="op-body-row-value" id="op-sales-contribution">{{ sales.percent }}%</div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}
