{% extends "default.html" %}
{% block title %}Orders{% endblock %}
{% block head %}
<link rel="stylesheet" href="../static/styles/orders.css"/>
{% endblock %}
{% block content %}
<div class="search-orders">
    <div class="search-container d-flex">
        <div class="search-field"></div>
        <div class="search-btn"></div>
    </div>
    <div class="order-insights-container d-flex">
        <div class="order-insight d-flex-column">
            <div class="insight-headline d-flex">
                <span class="material-symbols-outlined">
                    shopping_cart
                </span>
                <p>AVERAGE ORDER VALUE</p>
            </div>
            <div class="insight-values d-flex">
                <P>KSH</P>
                <span id="aov">2000</span>
            </div>
        </div>
        <div class="order-insight d-flex-column">
            <div class="insight-headline d-flex ">
                <span><i class="bi bi-graph-up"></i></span>
                <p>TOTAL SALES</p>
            </div>
            <div class="insight-values d-flex">
                <P>KSH</P>
                <span id="aov">2000</span>
            </div>
        </div>
        <div class="new-order-btn d-flex flex-cc">NEW ORDER</div>
    </div>
</div>
<div class="center-logo"></div>
<div class="order-history d-flex-column">
    <h2>ORDER HISTORY</h2>
    <div class="order-status-container d-flex">
        <div class="order-status">pending</div>
        <div class="order-status">confirmed</div>
        <div class="order-status">delivered</div>
        <div class="order-status">settled</div>
    </div>
    <table id="order-hist-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Status</th>
                <th>Quantity</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>12/12/2021</td>
                <td>Delivered</td>
                <td>2</td>
                <td>2000</td>
            </tr>
            <tr>
                <td>1</td>
                <td>12/12/2021</td>
                <td>Delivered</td>
                <td>2</td>
                <td>2000</td>
            </tr>
            <tr>
                <td>1</td>
                <td>12/12/2021</td>
                <td>Delivered</td>
                <td>2</td>
                <td>2000</td>
            </tr>
            <tr>
                <td>1</td>
                <td>12/12/2021</td>
                <td>Delivered</td>
                <td>2</td>
                <td>2000</td>
            </tr>
            <tr>
                <td>1</td>
                <td>12/12/2021</td>
                <td>Delivered</td>
                <td>2</td>
                <td>2000</td>
            </tr>
            <tr>
                <td>1</td>
                <td>12/12/2021</td>
                <td>Delivered</td>
                <td>2</td>
                <td>2000</td>
            </tr>
            <tr>
                <td>1</td>
                <td>12/12/2021</td>
                <td>Delivered</td>
                <td>2</td>
                <td>2000</td>
            </tr>
            <tr>
                <td>1</td>
                <td>12/12/2021</td>
                <td>Delivered</td>
                <td>2</td>
                <td>2000</td>
            </tr>
            <tr>
                <td>1</td>
                <td>12/12/2021</td>
                <td>Delivered</td>
                <td>2</td>
                <td>2000</td>
            </tr>
            <tr>
                <td>1</td>
                <td>12/12/2021</td>
                <td>Delivered</td>
                <td>2</td>
                <td>2000</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5">show more...</td>
            </tr>
        </tfoot>
    </table>
</div>
<div class="sales-container d-flex-column">
    <h2>SALES</h2>
    <table id="sales-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Status</th>
                <th>Quantity</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>12/12/2021</td>
                <td>Delivered</td>
                <td>2</td>
                <td>2000</td>
            </tr>
            <tr>
                <td>1</td>
                <td>12/12/2021</td>
                <td>Delivered</td>
                <td>2</td>
                <td>2000</td>
            </tr>
            <tr>
                <td>1</td>
                <td>12/12/2021</td>
                <td>Delivered</td>
                <td>2</td>
                <td>2000</td>
            </tr>
            <tr>
                <td>1</td>
                <td>12/12/2021</td>
                <td>Delivered</td>
                <td>2</td>
                <td>2000</td>
            </tr>
            <tr>
                <td>1</td>
                <td>12/12/2021</td>
                <td>Delivered</td>
                <td>2</td>
                <td>2000</td>
            </tr>
            <tr>
                <td>1</td>
                <td>12/12/2021</td>
                <td>Delivered</td>
                <td>2</td>
                <td>2000</td>
            </tr>
            <tr>
                <td>1</td>
                <td>12/12/2021</td>
                <td>Delivered</td>
                <td>2</td>
                <td>2000</td>
            </tr>
            <tr>
                <td>1</td>
                <td>12/12/2021</td>
                <td>Delivered</td>
                <td>2</td>
                <td>2000</td>
            </tr>
            <tr>
                <td>1</td>
                <td>12/12/2021</td>
                <td>Delivered</td>
                <td>2</td>
                <td>2000</td>
            </tr>
            <tr>
                <td>1</td>
                <td>12/12/2021</td>
                <td>Delivered</td>
                <td>2</td>
                <td>2000</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5">show more...</td>
            </tr>
        </tfoot>
    </table>
</div>
<div class="orders-graph-container">
    <canvas id="orders-graph"></canvas>
</div>
{% endblock %}
