{% extends 'default.html' %}
{% block title %}Payments{% endblock %}
{% block head %}
<link rel="stylesheet" href="../static/styles/payments.css" >
{% endblock %}
{% block content %}
<div class="payment-details-container">
    <div class="mpesa-logo-container d-flex flex-cc">
        <img src="../static/images/mpesa.png" alt="mpesa">
    </div>
    <div class="new-payment-btn-container d-flex flex-cc">
        <div class="new-payment-btn d-flex flex-cc">New Payment</div>
    </div>
</div>
<div class="unpaid-orders-container d-flex-column">
    <div class="unpaid-orders-table-title d-flex flex-cc">
        <h2>
            Unpaid Orders
        </h2>
        <div class="unpaid-orders-table-title-info d-flex flex-cc">
            <span class="material-symbols-outlined g-light">
                info
            </span>
            <div class="unpaid-orders-explained flex-cc">
                <div class="unpaid-orders-explained-title">
                    <h2>Unpaid Orders Explained</h2>
                </div>
                <div class="unpaid-orders-explained-body">
                    <p>
                        Unpaid orders are orders that have been delivered but not paid for.
                        You can pay for them by clicking on the pay button.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <table id="unpaid-orders-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Status</th>
                <th>Quantity</th>
                <th>Amount</th>
                <th>Pay</th>
            </tr>
        </thead>
        <tbody>
            {% for order in unpaid_orders %}
            <tr class="orders-row">
                <td>{{ order.id }}</td>
                <td>{{ order.created_at }}</td>
                {% if order.status == 'pending' %}
                <td class="confirmed">{{ order.status }}</td>
                {% elif order.status == 'delivered' %}
                <td class="delivered">{{ order.status }}</td>
                {% endif %}
                <td>{{ order.quantity }}</td>
                <td>{{ order.order_value }}</td>
                <td class="pay-btn">
                    <div class="pay-btn-container d-flex flex-cc">
                        <div class="pay-btn d-flex flex-cc">Pay</div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="transactions-container"></div>
{% endblock %}
{% block popups %}
{% endblock %}