{% extends 'default.html' %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/admin.css') }}">
<script src="{{ url_for('static', filename='scripts/admin.js') }}"></script>
{% endblock %}
{% block main_content %}
<div id='orders'>
    <div class="incoming-orders-container flex-column">
        <h2>Incoming Orders</h2>
        <table id="incoming-orders">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Date</th>
                    <th>Total</th>
                    <th>Products</th>
                    <th>Assign</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>12/12/2019</td>
                    <td>£12.00</td>
                    <td>2</td>
                    <td><button class="assign">Assign</button></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>12/12/2019</td>
                    <td>£12.00</td>
                    <td>2</td>
                    <td><button class="assign">Assign</button></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>12/12/2019</td>
                    <td>£12.00</td>
                    <td>2</td>
                    <td><button class="assign">Assign</button></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>12/12/2019</td>
                    <td>£12.00</td>
                    <td>2</td>
                    <td><button class="assign">Assign</button></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>12/12/2019</td>
                    <td>£12.00</td>
                    <td>2</td>
                    <td><button class="assign">Assign</button></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>12/12/2019</td>
                    <td>£12.00</td>
                    <td>2</td>
                    <td><button class="assign">Assign</button></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>12/12/2019</td>
                    <td>£12.00</td>
                    <td>2</td>
                    <td><button class="assign">Assign</button></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>12/12/2019</td>
                    <td>£12.00</td>
                    <td>2</td>
                    <td><button class="assign">Assign</button></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>12/12/2019</td>
                    <td>£12.00</td>
                    <td>2</td>
                    <td><button class="assign">Assign</button></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>12/12/2019</td>
                    <td>£12.00</td>
                    <td>2</td>
                    <td><button class="assign">Assign</button></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>12/12/2019</td>
                    <td>£12.00</td>
                    <td>2</td>
                    <td><button class="assign">Assign</button></td>
                </tr>
            </tbody>
        </table>
        <div class='auto-assign-btn'>
            <button>Auto Assign Orders</button>
        </div>
    </div>
</div>
{% endblock %}