{% extends "default.html" %}
{% block profile_details %}
<div class='profile-details-item flex'>
    <span class="material-symbols-outlined">
        person
    </span>
    <div class='profile-details-item-label'>Profile</div>
</div>
<div class='profile-details-item flex'>
    <span class="material-symbols-outlined">
        mail
    </span>
    <div class='profile-details-item-label'>example@email.com</div>
</div>
<div class='profile-details-item flex'>
    <span class="material-symbols-outlined">
        phone
    </span>
    <div class='profile-details-item-label'>+40 123 456 789</div>
</div>
<div class='profile-details-item flex'>
    <span class="material-symbols-outlined">
        location_on
    </span>
    <div class='profile-details-item-label'>Bucharest, Romania</div>
</div>
<div class='profile-details-item profile-edit flex' id='edit-profile'>
    <span class="material-symbols-outlined">
        edit
    </span>
    <div class='profile-details-item-label'>Edit</div>
</div>
<div class='profile-details-item profile-logout flex' id='logout-btn'>
    <span class="material-symbols-outlined">
        logout
    </span>
    <div class='profile-details-item-label'>Logout</div>
</div> 
{% endblock %}
{% block action_buttons_popups %}
<div class='notifications-popup'>
    <h2>Notifications</h2>
    <div class='notification-container'>
        <div class='notification-item flex'>
            <div class='notification-item-icon'>
                <span class="material-symbols-outlined g-light">
                    notifications
                </span>
            </div>
            <div class='notification-item-content'>
                <div class='notification-item-title'>Notification title</div>
                <div class='notification-item-description'>Notification description
                    lorem dggggggggggggfhgfey gfyugabeyerugatyebfgyawe
                </div>
            </div>
        </div>
        <div class='notification-item flex'>
            <div class='notification-item-icon'>
                <span class="material-symbols-outlined g-light">
                    notifications
                </span>
            </div>
            <div class='notification-item-content'>
                <div class='notification-item-title'>Notification title</div>
                <div class='notification-item-description'>Notification description</div>
            </div>
        </div>
        <div class='notification-item flex'>
            <div class='notification-item-icon'>
                <span class="material-symbols-outlined g-light">
                    notifications
                </span>
            </div>
            <div class='notification-item-content'>
                <div class='notification-item-title'>Notification title</div>
                <div class='notification-item-description'>Notification description</div>
            </div>
        </div>
        <div class='notification-item flex'>
            <div class='notification-item-icon'>
                <span class="material-symbols-outlined">
                    notifications
                </span>
            </div>
            <div class='notification-item-content'>
                <div class='notification-item-title'>Notification title</div>
                <div class='notification-item-description'>Notification description</div>
            </div>
        </div>
        <div class='notification-item flex'>
            <div class='notification-item-icon'>
                <span class="material-symbols-outlined">
                    notifications
                </span>
            </div>
            <div class='notification-item-content'>
                <div class='notification-item-title'>Notification title</div>
                <div class='notification-item-description'>Notification description</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}