{% extends "default.html" %}
{% block main_js %}
<script src="../static/scripts/main.js"></script>
{% endblock %}
{% block profile_name %}
{{ user_details.first_name + " " + user_details.last_name }}
{% endblock %}
{% block profile_details %}
<div class='profile-details-item flex'>
    <span class="material-symbols-outlined">
        person
    </span>
    <div class='profile-details-item-label'>
        {{ user_details.first_name + " " + user_details.last_name }}
    </div>
</div>
<div class='profile-details-item flex'>
    <span class="material-symbols-outlined">
        mail
    </span>
    <div class='profile-details-item-label'>{{ user_details.email }}</div>
</div>
<div class='profile-details-item flex'>
    <span class="material-symbols-outlined">
        phone
    </span>
    <div class='profile-details-item-label'>{{ user_details.phone }}</div>
</div>
<div class='profile-details-item flex'>
    <span class="material-symbols-outlined">
        location_on
    </span>
    <div class='profile-details-item-label'>Bucharest, Romania</div>
</div>
<div class='profile-details-item profile-edit flex' id='edit-profile'>
    <span class="material-symbols-outlined">
        edit
    </span>
    <div class='profile-details-item-label'>Edit</div>
</div>
<a class='profile-details-item profile-logout flex' id='logout-btn' href='/logout'>
    <span class="material-symbols-outlined">
        logout
    </span>
    <div class='profile-details-item-label'>Logout</div>
</a>
{% endblock %}
{% block action_buttons_popups %}
<div class='notifications-popup'>
    <h2>Notifications</h2>
    <div class='notification-container'>
        <div class='notification-item flex'>
            <div class='notification-item-icon'>
                <span class="material-symbols-outlined g-light">
                    notifications
                </span>
            </div>
            <div class='notification-item-content'>
                <div class='notification-item-description'>Notification description
                    lorem dggggggggggggfhgfey gfyugabeyerugatyebfgyawe
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block cart_csrf %}
<input type='hidden' name='cart_csrf' id='cart_csrf' value='{{ csrf_token() }}'>
<input type='hidden' name='cart_post_csrf' id='cart_post_csrf' value='{{ csrf_token() }}'>
<input type='hidden' name='cart_put_csrf' id='cart_put_csrf' value='{{ csrf_token() }}'>
<input type='hidden' name='cart_delete_csrf' id='cart_delete_csrf' value='{{ csrf_token() }}'>
{% endblock %}
{% block cart %}
{% for item in cart %}
<div class='cart-content-product flex flex-cc'>
    <div class='cart-content-product-details'>
        <div class='cart-product-image'>
            <img src="../static/images/${productImage}" alt="cake">
            <div class='delete-cart-product flex-cc'>
                <span class="material-symbols-outlined">
                    close
                </span>
            </div>
        </div>
        <div class='cart-product-name'>{{ item.name }}</div>
    </div>
    <div class='cart-content-product-quantity flex'>
        <div class="cart-content-product-quantity-decreament flex">
            <span class="material-symbols-outlined">
                remove
            </span>
        </div>
        <div class="cart-content-product-quantity-value flex-cc">
            1
        </div>
        <div class="cart-content-product-quantity-increament flex">
            <span class="material-symbols-outlined">
                add
            </span>
        </div>
    </div>
    <div class='cart-content-product-price'>{{ item.price }}</div>
    <input type='hidden' name='product_id' value='{{ item.product_id }}' class='product-id-cart'>
    <input type='hidden' name='product_price' value='{{ item.price }}' class='product-price-cart'>
</div>
{% endfor %}
{% endblock %}