.main-container {
    width: 100%;
    }
.login-container {
    width: 500px;
    height: 500px;
    margin: 100px auto;
    }
.login-container form { 
    display: flex;
    flex-direction: column;
    }
