:root {
    --primary-color: #f5f5dc;
    --secondary-color: #ffdab9;
    --button-color: #ff6f61;
    --dash-hover-color: #d2b48c;
    --table-bg-color: #d2b48c;
    --pending-color:  #FFC107;
    --confirmed-color: #4CAF50;
    --delivered-color: #2196F3;
    --settled-color: #8BC34A;
    --table-color: #000000;
    --table-row-odd-color: #ffdab9;
    --table-row-even-color: #ECECEC;
    --table-header-color: #BFBFBF;
    --increase-color: #00FF00;
    --decline-color: #FF0000;
    --float-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    margin: 0;
}
body {
    height: 100vh;
    display: flex;
    margin: 0;
    overflow-y: hidden;
}

::-webkit-scrollbar {
    width: 4px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: var(--secondary-color);
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: var(--dash-hover-color);
    border-radius: 4px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }

.button {
    background-color: var(--button-color);
}

.d-flex {
    display: flex;
}
.d-flex-column {
    display: flex;
    flex-direction: column;
}
.flex-cc {
    justify-content: center;
    align-items: center;
}
.pending {
    background-color: var(--pending-color);
}
.confirmed {
    background-color: var(--confirmed-color);
}
.delivered {
    background-color: var(--delivered-color);
}
.settled {
    background-color: var(--settled-color);
}

#content {
    flex-basis: 85%;
    background-color: var(--primary-color);
    height: 100%;
}

#footer {
    background-color: var(--secondary-color);
    width: 100%;
    margin-top: auto;
}

#sidebar {
    flex-basis: 15%;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;

}

.sidebar-item {
    flex-basis: 10%;
    display: flex;
    width : 80%;
    align-items: center;
    text-decoration: none;
    margin-left: 5px;
    color: black;
}
.sidebar-item p {
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.sidebar-item:hover {
    background-color: var(--dash-hover-color);
    border-radius: 0 10px 10px 0;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.5);
}


.sidebar-logo {
    width: 70%;
    height: 80px;
    margin: 0 auto;
    margin-top: 5px;
}
.sidebar-logo img {
    width: 100%;
    height: 100%;
}

.sidebar-item-bottom {
    margin-top: auto;
}



.header-container {
    flex-basis: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
#header {
    height: 100%;
    width: 100%;
    justify-content: space-between;
    border-radius: 10px;
    background-color: var(--secondary-color);
    align-items: center;
    margin: 0 20px;
}

#header h1 {
    margin: 0;
    margin-left: 20px;
}

.header-items {
    flex-basis: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 20px;
}

.header-item {
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;

}
.user-name {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    flex-basis: 100px;
}
.user-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    background-color: var(--primary-color);
}

.not-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    position: relative;
}

.not-count {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--button-color);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
}

#popups-container {
    display: none;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    margin: 0;
    position: fixed;
    padding: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
}
#exit-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    margin: 10px;
    background-color: var(--button-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
}