#main-content {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-gap: 20px;
    height: 100%;
    width: 100%;
    padding: 20px;
    overflow-y: auto;
    overflow-x: hidden;
}

.center-logo {
    grid-column: 2;
    grid-row: 2;
    justify-self: center;
    align-self: center;
    width: 100%;
    height: 100%;
    background-image: url("../images/cakes_logo.png");
    background-size: contain;
    background-repeat: no-repeat;
}

/*----------------------------------------------- Insights and the search -------------------------------*/

.search-orders {
    grid-column-start: 1;
    grid-column-end: 3;
}
.order-insights-container {
    justify-content: space-around;
    align-items: center;
}
.order-insight {
    height: 120px;
    background-color: var(--secondary-color);
    width: auto;
    border-radius: 10px;
    padding: 10px;
}
.order-insight:hover {
    cursor: pointer;
    box-shadow: var(--float-box-shadow);
}
.insight-headline {
    justify-content: space-between;
    align-items: center;
    flex-basis: 50%;
}
.insight-headline p {
    max-width: 100px;
    font-size: small;
    font-weight: 600;
}
.insight-headline span {
    font-size: 50px;
}
.insight-values {
    justify-content: space-between;
    align-items: center;
    flex-basis: 50%;
}
.insight-values p {
    font-weight: bolder;
}

.insight-values span{
    font-size: 30px;
    color: grey;
    font-weight: bold;
    max-width: 100px;
    overflow: auto;
}
.insights-search {
    height: 100px;
}
.search-container {
    align-items: center;
    flex-basis: 70%;
}
.search-field {
    height: 40%;
    border-radius: 30px;
    background-color: var(--secondary-color);
    border: none;
    padding: 10px;
    font-weight: bold;
    flex-basis: 70%;
}
.search-btn {
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: var(--button-color);
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 50%;
    margin-left: 10px;
    cursor: pointer;
}

.new-order-btn {
    width: 100px;
    height: 40px;
    background-color: var(--button-color);
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    white-space: nowrap;
}


/*------------------------------------------- order history Table--------------------------------------*/

.order-history {
    grid-column: 3;
    grid-row: 1 / 3;
    padding: 20px;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 500px;
    height: 500px;
}
.order-history h2 {
    margin: 0;
}
.order-status-container {
    justify-content: space-around;
    padding: 10px;
    align-items: center;
    width: 100%;
    height: 30px;
    margin: 20px 0;
}
.order-status {
    flex-basis: 70px;
    border-radius: 5px;
    border: none;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: small;
}
.order-status:hover {
    cursor: pointer;
    box-shadow: var(--float-box-shadow);
}

.reset-filters-table, .reset-filters-history {
    background-color: var(--button-color);
    color: white;
    font-weight: bold;
    font-size: small;
    border: none;
    cursor: pointer;
}
#order-hist-table {
    width: 100%;
    border-collapse: collapse;
}
#order-hist-table:hover {
    box-shadow: var(--float-box-shadow);
}
#order-hist-table th {
    font-size: 20px;
    color: var(--button-color);
    background-color: var(--table-header-color);
}

#order-hist-table td {
    height: 30px;
    font-size: 15px;
    color: var(--table-color);
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 70px;
    text-align: center;
    overflow: hidden;
    padding: 5px;
}
#order-hist-table tbody tr:nth-child(odd) {
    background-color: var(--table-row-odd-color);
}
#order-hist-table tbody tr:nth-child(even) {
    background-color: var(--table-row-even-color);
}
#order-hist-table tbody tr:hover {
    background-color: var(--button-color);
    cursor: pointer;
}
#order-hist-table tbody tr:hover td {
    color: white;
    background-color: var(--button-color);
}
#order-hist-table tbody tr:hover td:first-child {
    border-left: 1px solid white;
}
#order-hist-table tbody tr:hover td:last-child {
    border-right: 1px solid white;
}
#order-hist-table tfoot tr td {
    font-size: 20px;
    color: var(--button-color);
    text-align: center;
    font-weight: bold;
}

#order-hist-table tfoot tr:hover {
    color: white;
    cursor: pointer;
    background-color: var(--button-color);
}
#order-hist-table tfoot td:hover {
    color: white;
}


/* -----------------------------------------------Product analysis table--------------------------------------- */

.pdt-analysis-container {
    grid-column: 1;
    grid-row: 2 / 4;
    padding: 10px;
    align-items: center;
    max-width: 500px;
    justify-content: center;
    position: relative;
    background-color: var(--secondary-color);
    border-radius: 10px;
}
.pa-headline {
    width: 100%;
    justify-content: center;
    align-items: center;
}
.pa-headline span {
    font-size: 50px;
    font-weight: bolder;
    margin-right: 20px;
}

.pa-date {
    color: grey;
    font-size: 20px;
    font-weight: bold;
}
.pa-body {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70%;
    overflow: auto;
}
.product {
    display: flex;
    justify-content: space-between;
    background-color: var(--table-row-even-color);
    width: 80%;
    flex-basis: 20%;
    border-radius: 10px;
    padding: 20px;
    margin: 10px 0;
}
.product:hover {
    cursor: pointer;
    box-shadow: var(--float-box-shadow);
}

.pdt-name {
    font-size: 20px;
    font-weight: bolder;
    flex-basis: 30%;
}
.pdt-growth-rate {
    display: flex;
    flex-basis: 20%;
    color: #00FF00;
}
.pdt-growth-rate span {
    font-size: 20px;
}
.pdt-growth-rate p {
    font-weight: bold;
}

.pdt-sales {
    flex-basis: 30%;
}


/* ---------------------------------------------------------Orders graph --------------------------------------*/
.orders-graph-container {
    grid-column: 2 / 4;
    grid-row: 3;
    padding: 20px;
    border-radius: 10px;
    align-items: center;
    text-align: center;
}
.orders-graph-container h2 {
    margin: 20px 0;
    color: var(--button-color);
}
#orders-graph {
    width: 500px !important;
    height: auto !important;
    background-color: var(--table-row-even-color);
    border-collapse: collapse;
}

/* --------------------------------------------------Popups------------------------------------------ */

.orders-popup {
    background-color: var(--primary-color);
    width: 50%;
    height: 80%;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 10px;
    padding: 20px;
    display: none;
}

#all-orders-table {
    width: 100%;
    border-collapse: collapse;
    height: 70%;
}
#all-orders-table:hover {
    box-shadow: var(--float-box-shadow);
}
#all-orders-table th {
    font-size: 20px;
    color: var(--button-color);
    background-color: var(--table-header-color);
}

#all-orders-table td {
    height: 20px;
    font-size: 15px;
    color: var(--table-color);
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 70px;
    overflow: hidden;
    padding: 5px;
}
#all-orders-table tbody tr:nth-child(odd) {
    background-color: var(--table-row-odd-color);
}
#all-orders-table tbody tr:nth-child(even) {
    background-color: var(--table-row-even-color);
}
#all-orders-table tbody tr:hover {
    background-color: var(--button-color);
    cursor: pointer;
}
#all-orders-table tbody tr:hover td {
    background-color: var(--button-color);
    color: white;
}
#all-orders-table tbody tr:hover td:first-child {
    border-left: 1px solid white;
}
#all-orders-table tbody tr:hover td:last-child {
    border-right: 1px solid white;
}
#all-orders-table tfoot tr td {
    font-size: 20px;
    color: var(--button-color);
    text-align: center;
    font-weight: bold;
}
#all-orders-table tfoot tr td:first-child {
    border-bottom-left-radius: 10px;
}
#all-orders-table tfoot tr td:last-child {
    border-bottom-right-radius: 10px;
}
#all-orders-table tfoot tr td:hover {
    color: white;
    cursor: pointer;
    background-color: var(--button-color);
}


/* ====================order details popup==================== */
.order-detailed-popup {
    background-color: var(--primary-color);
    width: auto;
    height: 80%;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 10px;
    padding: 20px;
    display: none;
    justify-content: center;
    flex-direction: column;
}
.order-detailed-popup h2 {
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: bolder;
}

.order-detailed-popup-row {
    width: 100%;
    height: 20%;
    margin: 10px 0;
}
.order-detailed-popup-row-label {
    font-size: 15px;
    font-weight: bold;
    color: var(--button-color);
    flex-basis: 200px;
    text-align: left;
}
.order-detailed-popup-row-value {
    font-size: 15px;
    flex-basis: 80%;
    text-align: left;
    color: var(--table-color);
}

.order-detailed-product-quantity {
    margin: 0 10px;
    font-weight: 600;
}

#order-products ul {
    padding: 0;
}


/* ====================product analysis popup==================== */
.pa-popup {
    background-color: var(--primary-color);
    width: 50%;
    height: auto;
    border-radius: 10px;
    padding: 20px;
    display: none;
}
.pa-popup h2 {
    color: var(--button-color);
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}
#pa-graph {
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
}

/* ===============================AOV POPUP=============== */
.aov-popup {
    background-color: var(--primary-color);
    width: 50%;
    height: auto;
    border-radius: 10px;
    padding: 20px;
    display: none;
    flex-direction: column;
}
.aov-popup h2 {
    color: var(--button-color);
    font-weight: bold;
    margin: 20px 0;
}
.aov-popup-row-label {
    font-size: 15px;
    font-weight: bolder;
    white-space: nowrap;
    flex-basis: auto;
    text-align: left;
    margin-right: 10px;
}
.aov-popup-row-value {
    font-weight: bold;
    font-size: 20px;
    flex-basis: auto;
    white-space: nowrap;
    text-align: left;
    color: var(--table-color);
    width: 80%;
}

/* ======================================most popular product popup======================= */

.most-popular-popup {
    background-color: var(--primary-color);
    width: auto;
    height: auto;
    border-radius: 10px;
    padding: 20px;
    display: none;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
}
.most-popular-container {
    width: 100%;
    height: auto;
    flex-direction: column;
    margin: 10px 0;
}
.most-popular-popup h2 {
    color: var(--button-color);
    margin-bottom: 20px;
}
.mp-headline span {
    margin-right: 10px;
}
.mp-body, .op-body {
    width: 100%;
    height: auto;
    flex-direction: column;
    margin: 15px 0;
    font-size: 15px;
    font-weight: 500;
}
.mp-body-row, .op-body-row {
    width: 100%;
    height: auto;
    flex-direction: row;
    margin: 5px 0;
}
.mp-body-row-label, .op-body-row-label {
    font-weight: 900;
    white-space: nowrap;
    text-align: left;
    margin-right: 5px;
}


/* ========================================new orders popup================================= */
#new-order-popup {
    background-color: var(--primary-color);
    width: auto;
    height: 300px;
    border-radius: 10px;
    padding: 20px;
    display: none;
    flex-direction: column;
}

#new-order-popup select, #new-order-popup input {
    height: 30px;
    border-radius: 5px;
    border: none;
    padding: 5px;
    font-size: 15px;
    font-weight: 500;
    color: var(--table-color);
    background-color: var(--table-row-even-color);
    border: 1px solid var(--button-color);
    margin-left: 10px;
    width: 100px;
}
#new-order-popup select:focus, #new-order-popup input:focus {
    outline: none;
}

.new-order-form-row {
    margin: 10px 0;
    width: 100%;
    height: auto;
    align-items: center;
}

#add-btn {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: var(--button-color);
    color: white;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}

.new-order-form {
    width: auto;
    padding-right: 10px;
    height: 100%;
    border-right: 1px solid grey;
}

.cart {
    padding-left: 10px;
}
.cart-headline {
    width: 100%;
}
.cart-headline h2 {
    color: var(--button-color);
    margin-bottom: 20px;
}

.cart-header {
    width: 100%;
    align-items: center;
    background-color: grey;
}
.cart-header-label {
    font-weight: 900;
}
.cart-header-label, .cart-body-row-value {
    white-space: nowrap;
    text-align: left;
    margin-right: 5px;
    flex-basis: 100px;
}


.cart-body {
    width: 100%;
    height: 100px;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
}
.cart-body-row:nth-child(even) {
    background-color: var(--table-row-even-color);
}
.cart-body-row:nth-child(odd) {
    background-color: var(--table-row-odd-color);
}

#cart-remove-btn:hover {
    background-color: var(--button-color);
    cursor: pointer;
}

.cart-footer {
    width: 100%;
    align-items: center;
    color: white;
}
.cart-footer-row {
    height: 20px;
    background-color: grey;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.cart-footer-row-label {
    font-weight: 900;
    margin-right: 10px;
}
#checkout-btn {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: var(--button-color);
    color: white;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    margin: 10px 0;
}

.new-order-amount {
    font-size: 20px;
    font-weight: 900;
    margin-right: 10px;
}
#new-order-amount-value {
    font-weight: bold;
    font-size: 15px;
}

#add-btn {
    margin: 0 auto;
}


/* ----------------------------------------order status info----------------------------------------- */
.order-status-info-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    margin: 20px;
}
.order-status-info {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: auto;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    margin-top: 50px;
    border-radius: 10px;
    padding: 20px;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 20px;
    font-size: smaller;
}

.order-status-info-btn:hover + .order-status-info {
    display: flex;
}

.order-status-info-headline {
    font-weight: bold;
    margin-bottom: 20px;
    justify-content: space-around;
    align-items: center;
}
.order-status-info-row {
    margin-bottom: 10px;
}
.order-status-info-row-status-circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 10px;
}
.order-status-info-row-status {
    margin-right: 5px;
}
.order-status-info-row-status p {
    font-weight: bold;
}



